{# @license 3-clause BSD #}


{% extends 'page.html.twig' %}

{% block content %}

	<p>{{ fieldKey }}</p>

	<ul>
		{% for key, value in values %}
			<li><a href="value/{{ key }}/">{{ value }}</a></li>
		{% endfor %}
	</ul>

{% endblock %}
