{# @license 3-clause BSD #}


{% extends 'page.html.twig' %}

{% block content %}

	<p>Welcome!</p>

	<ul>
		<li><a href="data.html">All Data</a></li>
		{% for fieldKey, fieldConfig in config.fields %}
		<li><a href="field/{{ fieldKey}}/">{{ fieldKey}}</a></li>
		{% endfor %}
	</ul>

{% endblock %}
