{# @license 3-clause BSD #}


{% extends 'page.html.twig' %}

{% block content %}

	<ol class="breadcrumb">
		 <li class="active">Home</li>
	 </ol>

	<h1>Welcome!</h1>

	<ul class="list-group">
		<li class="list-group-item"><a href="{{ '/data.html' | internalLink }}" class="btn btn-default">All Data</a></li>
		{% for fieldKey, fieldConfig in config.fields %}
			<li class="list-group-item"><a href="{{ ('/field/' ~ fieldKey ) | internalLinkToDir }}" class="btn btn-default">{{ fieldConfig.label }}</a></li>
		{% endfor %}
	</ul>

{% endblock %}
